*{
	font-family: sans-serif;
	text-align: center;
}

table{
	display: inline-block;
	border: 1px solid black;
	border-collapse: collapse;
}

td, th{
	border: 1px solid black;
	padding: 5px;
}

a{
	text-decoration: none;
	color: red;
}